.top-form{
    -fx-background-color: #fff;
    -fx-border-color: #000;
    -fx-border-width: .4px .4px .2px .4px;
}

.semi-top-form{
    -fx-background-color: #efefef;
    -fx-border-color: #000;
    -fx-border-width: .2px .4px .8px .4px;
}

.close{
    -fx-cursor:hand;
}

.close:hover{
    -fx-background-color: #ff3547;
}

.minimize{
    -fx-cursor:hand;
}

.minimize:hover{
    -fx-background-color: rgba(252, 237, 1, 0.99);
}


.nav-form{
    -fx-background-color: linear-gradient(to bottom right, #00b4fc, #17f9ff);
}

.header-form{
    -fx-background-color: linear-gradient(to top left, #005bc5, #00b4fc);
}


.nav-btn{
    -fx-background-color: #005bc5;
    -fx-cursor: hand;
    -fx-font-family: "Arial";
    -fx-font-size: 10pt;
    -fx-text-fill: #fff;
}

.data-bg{
    -fx-background-color: #ffffff;
    -fx-background-radius: 18px;
}

.card{
    -fx-background-color: linear-gradient(to top,#17f9ff,#005bc5);
    -fx-background-radius: 15px;
}